<div class="container">
  <body class="bg-image">
    <h2 style="color:rgb(233, 247, 245)">BOOK INFORMATION MANAGEMENT SYSTEM</h2> 
    <p style="color:aliceblue">BOOK LIST</p>          
    <table class="table table-striped">
      <thead>
        <tr>
          <th>BookId</th>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>ISBN</th>
          <th>Price</th>
          <th>PublishDate</th>
          <th>Bookcategory</th>
          <th>Book Url</th>
          <th>Actions</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let book of _book">
          
          <td>{{book.bookId}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.description}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.price}}</td>
          <td>{{book.publishDate}}</td>
          <td>{{book.bookcategory}}</td>
          <td>{{book.bookUrl}} </td>
        <td>
            <button type="button" class="btn btn-primary" (click)="goToEditBook(book.bookId)" >Edit</button>
            <button type="button" class="btn btn-info" (click)="goToviewBook(book.bookId)">View</button>
            <button type="button" class="btn btn-danger"(click)="deleteBook(book.bookId)">Delete</button>
        </td>
        </tr>
       </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="goToAddBook()">Add new Book</button>&nbsp;
  </body>
  </div>